
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~bootstrap/scss/functions';

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import 'gangaton-theme/mixins';
@import 'gangaton-theme/variables';
@import 'gangaton-theme/variables-2';
//Navbar
@import 'gangaton-theme/nav';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
